<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>form</h1>
   <table class="fl-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email Id</th>
        <th>Phone No.</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Course Name</th>
        <th>Qualification</th>
    </tr>
    </thead>
    <tbody>
        <%   users.map(result=>{   %>
    <tr>
        <td><%= result.name %></td>
        <td><%= result.email %></td>
        <td><%= result.phone %></td>
        <td><%= result.gender %></td>
        <td><%= result.address %></td>
        <td><%= result.coursename %></td>
        <td><%= result.qualification %></td>
    </tr>
    <%   })    %>
    <tbody>
</table>
</body>
</html>